@import 'tailwindcss';
@import '@fontsource/poppins';

:root {
  color-scheme: light dark;
}

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
